@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply font-body;
    @apply text-sm md:text-base;
    padding: 0 !important;
    min-height: 100vh;
  }
  div[type=button] {
    -webkit-appearance: none;
  }
}

.page {
  display: flex;
}

.page-container-lg {
  padding: 6rem 5vw;
}

.page-container {
  padding: 1rem 5vw;
}